:root {
  --primary-color: hsl(171, 66%, 44%);
  --secondary-color: hsl(233, 100%, 69%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Bai Jamjuree';
  line-height: 2;
  
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

 /* Utilities */
 .container {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
  box-shadow: inset -1px -3px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  overflow: hidden;
}
.btn:hover {
  opacity: .8;
}
.btn-secondary {
  background: var(--secondary-color);
}

.snippet-container {
  text-align: center;
}
.snippet-container  h3{
  color: hsl(210, 10%, 33%);
  font-size: 2rem;
}
.snippet-container p {
  color: hsl(201, 11%, 66%);
  margin-bottom: 60px;
}


/* Header */


#header {
  background: url('../images/bg-header-desktop.png') no-repeat center center/cover;
  padding: 80px 0;
}
#header .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#header h2{
  color: hsl(210, 10%, 33%);
  font-size: 3rem;
  text-align: center;
  margin: 30px 0;
}
#header p {
  color: hsl(201, 11%, 66%);
  text-align: center;
}
#header div {
  text-align: center;
  margin: 30px;
}

/* Showcase */
#showcase-options .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin: 0 1.875rem;
}
#showcase-options .showcase-container .showcase-img {
  justify-self: right;
}

#showcase-options .showcase-container .options-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  justify-self: left;
}
#showcase-options .showcase-container .options-container > div {
  margin-bottom: 50px;
}
#showcase-options .showcase-container .options-container .option h5 {
  color: hsl(210, 10%, 33%);
  font-size: 22px;
}
#showcase-options .showcase-container .options-container .option p{
  color: hsl(201, 11%, 66%);;
}

/* Any Device */

#device  img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Menu items*/
#menu .menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}
#menu .menu-container > div {
  padding: 0 1.2rem;
}

/* Companies */
#company .company-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}
#company .company-container > div {
  padding: 0 3rem;
}

/* Last section */
#last-section .last-section-container {
  text-align: center;
  margin-bottom: 5rem;
}
#last-section .last-section-container h3 {
  color: hsl(210, 10%, 33%);
  font-size: 2rem;
}
#last-section .last-section-container p {
  color: hsl(201, 11%, 66%);
  margin-bottom: 30px;
}

/* Footer */
#footer {
  background: #f6f6f6;
  height: 10rem;
  
}
#footer .footer-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  align-items: center;
  padding-top: 2rem;
}
#footer .footer-container .logo-container {
  grid-column: 2;
  justify-self: center;
}
#footer .footer-container .logo-container img {
  width: 50%;
}
#footer .footer-container .socials {
  grid-column: 7;
  display: flex;
}
#footer .footer-container .socials > div {
  padding: 0 1rem;
}
#footer .footer-container .link-container a {
  color: hsl(210, 10%, 33%);
}
#footer .footer-container .link-container a:hover {
  color: var(--primary-color);
}
#footer .footer-container .socials > div a:visited {
  color: hsl(210, 10%, 33%);
}
#footer .footer-container .socials > div a:hover {
  color: var(--primary-color);
}